@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Set to your desired foreground color */
    --background-start-rgb: 255, 255, 255; /* Set to your desired background color */
    --background-end-rgb: 255, 255, 255; /* Set to your desired background color */
  }
}
@media (prefers-color-scheme: dark) {
  :root {
      color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  button {
      border: none;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
input{
  background-color: #fff !important;
}
.input{
  background-color: #fff !important;
}
.select {
  background-color: #ffff !important;
}
/* .btn{
  border: none;
} */
.gradient-border {
  height: 5px;
  background-color: #007038;
  width: 30%;
  background-image: linear-gradient(to right, #007038, #fff );
 
}

.steps .step::after {
  content: '';
  height: 1rem;
  width: 1rem;
  
}

.steps .step:before {
  top: 0px;
  grid-column-start: 1;
  grid-row-start: 1;
  height: 0.2rem;
  width: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: whitesmoke;
  --tw-text-opacity: 1;
  color: rgba(0, 105, 217, 1);
  content: "";
  margin-inline-start: -100%;

}
.steps .step:after {
  
  background-color:whitesmoke ;
  --tw-text-opacity: 1;
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
}

.steps .step-primary + .step-primary:before {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 105, 217, 1);
  /* background-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-bg-opacity))); */
  --tw-text-opacity: 1;
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
}
.steps .step-primary +  .step-primary:after {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 105, 217, 1);
  --tw-text-opacity: 1;
  color: var(--fallback-pc, oklch(var(--pc) / var(--tw-text-opacity)));
}


.steps .step-primary + .step-primary:before, .steps .step-primary:after {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 105, 217, 1);
  --tw-text-opacity: 1;
  color: red;
}

/* placeholder styles */
.custom-placeholder::placeholder {
  color: rgba(0, 0, 0, 1); 
  opacity: 1; 
  font-size: 14px;
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

.Btnloader {
  width: 28px;
  height: 28px;
  border: 5px solid rgba(0, 105, 217, 1);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 


  .tox-tinymce-aux,
.tox-toolbar,
.tox-toolbar__primary {
  background-color: rgba(198, 198, 198, 1) !important; 
}

.tox .tox-toolbar__group .tox-button {
  background-color:transparent !important; /* Remove the default white background */
  border: none !important; /* Remove border */
  padding: 5px 15px !important; /* Reduce button padding */
  font-size: 12px !important; /* Reduce font size */
}
.tox .tox-tbtn {
  background: transparent !important;
}
/* Optional: Add hover effects for better user experience */
.tox .tox-toolbar__group .tox-button:hover {
  background-color: rgba(0, 0, 0, 0.1) !important; /* Light background on hover */
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  background-color: #fff;
  border-bottom: none;
  box-shadow: 0 2px 2px -2px rgba(34, 47, 62, .1), 0 8px 8px -4px rgba(34, 47, 62, .07);
  padding:0px !important;
}
/* Optional: Adjust the size of toolbar icons */
.tox .tox-icon svg {
  width: 20px !important;
  height: 20px !important;
}

/* CongratulatoryPage.css */
.congrats-container {
 height: 300px;
 width: 500px;
 background: #f3f4f6;
 text-align: center;
 border-radius: 20px;
}

h1 {
  font-size: 3rem;
  color: #4caf50;
  padding-top: 60px;
}

p {
  font-size: 1rem;
  color: #333;
}

.flowers-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent overflow */
  pointer-events: none; /* Ensure user interaction is not hindered */
}

.flower {
  position: absolute;
  top: -50px;
  width: 15px;
  height: 15px;
  opacity: 0.8;
  animation: fall 10s linear forwards;
}

.flower.circle {
  border-radius: 50%;
}

.flower.square {
  border-radius: 0;
}

.flower.triangle {
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 15px solid;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

